<header class="header d-flex">
    <div class="brand-name">
        <h2>BookShop</h2>
    </div>
    <div class="navigation">
        <nav>
            <ul>
                <li><a href="#">Books</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="login">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}" class="login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>