{% extends 'home/default.html' %}
{% block content%}
<main>
    <div class="form">
        <form action="" method="POST">
            {% csrf_token %}
            <h2>Password Reset Request</h2>
            {% if form.errors %}
                {% for field, errors in form.errors.items %}
                    {{ errors }}
                {% endfor %}
            {% endif %}
        {% if form %}
            {% for field in form %}
                <label for="email">
                    {{ field }}
                    <span>{{ field.label }}</span>
                </label>
            {% endfor %}
        {% endif %}
            <button type="submit" name="button">Reset Request</button>
            </div>
        </form>
    </div>
</main>
{% endblock%}