{% extends 'home/default.html' %}
{% block content%}
<main>
    <div class="form">
        <form action="" method="POST">
            {% csrf_token %}
            <h2>Password Reset</h2>
            {% if form.errors %}
                {% for field, errors in form.errors.items %}
                    {{ errors }}
                {% endfor %}
            {% endif %}
        {% if form %}
            {% for field in form %}
                <label for="{{ field.field.widget.attrs.id }}">
                    {{ field }}
                    <span>{{ field.label }}</span>
                </label>
                {% if field.field.widget.attrs.id == 'password1'%}
                <div class="helptext">
                    {{ field.help_text }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
            <button type="submit" name="button">Reset</button>
            </div>
        </form>
    </div>
</main>
{% endblock%}